[user]
    name = locojay
    email = locojaydev@gmail.com
[core]
	excludesfile = ~/.gitignore
    editor = nvim
    autocrlf = input
    pager = less
[alias]
    a = add
    b = branch
    co = checkout
    ba = branch -a
	bdbd = branch -d
    ls = ls-files
    gl = log -16 --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
    lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen%cn %Cred%cr %C(cyan)%ci%Creset' --abbrev-commit
    one = show -s
    st = status
    caa = commit -a --amend -C HEAD
    dirdiff = difftool --dir-diff --no-symlinks
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[apply]
    whitespace = nowarn
[format]
    pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[github]
    user = locojay
    token =
[diff]
    tool = kitty
    guitool = Kaleidoscope
[difftool]
    prompt = false
    trustExitCode = true
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[difftool "vscode"]
    cmd = code -wait --diff --new-window \"$LOCAL\" \"$REMOTE\"
[difftool "vim"]
    cmd = vim -f '+next' '+execute \"DirDiff\" argv(0) argv(1)' $LOCAL $REMOTE
[merge]
    tool = Kaleidoscope
[mergetool]
    prompt = false
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[pager]
    diff =
[credential]
    helper = osxkeychain
[mergetool "kaleidoscope"]
    cmd = /usr/local/bin/ksdiff --merge \"$LOCAL\" \"$REMOTE\" --base \"$BASE\" --output \"$MERGED\"
    trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
