vim/.netrwhist
vim/.VimballRecord
ipython/IPython_crash_report.txt
ipython/history-sh
.DS_Store
irssi/logs/*
ipython/.ipython/profile_default/db
ipython/.ipython/profile_default/history.sqlite
ipython/.ipython/profile_default/log
ipython/.ipython/profile_default/pid
ipython/.ipython/profile_default/security
ipython/.ipython/profile_default/startup
ipython/.ipython/extensions
ipython/.ipython/nbextensions
weechat/logs
ipython/profile_default/pid
ipython/profile_default/security
bin/vim
bin/lein2
.emacs.d
bin/doc2pdf
bin/screenshotbot
ipython/bitey/
ipython/cython
coc
nvim/.config/nvim/lazy-lock.json
tmux/.config/tmux/plugins/tmux-gruvbox
tmux/.config/tmux/plugins/tmux-yank
jupyter/.jupyter/migrated
