[submodule "vim"]
	path = vim
	url = git://github.com/locojay/locovim.git
	ignore = dirty
[submodule "prezto"]
	path = prezto
	url = git://github.com/locojay/prezto.git
	ignore = dirty
[submodule "locoemacs"]
	path = locoemacs
	url = git@github.com:locojay/locoemacs.git
