[submodule "vim"]
	path = vim
	url = https://locojay@github.com/locojay/locovim.git
	ignore = untracked
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://locojay@github.com/locojay/oh-my-zsh.git
	ignore = untracked
