vim/.netrwhist
vim/.VimballRecord
ipython/IPython_crash_report.txt
ipython/history-sh
.DS_Store
irssi/logs/*
ipython/profile_default/history.sqlite
weechat/logs
ipython/profile_default/pid
ipython/profile_default/security
bin/vim

