vim/.netrwhist
vim/.VimballRecord
ipython/IPython_crash_report.txt
ipython/history-sh
.DS_Store
irssi/logs/*
ipython/profile_default/history.sqlite
weechat/logs
ipython/profile_default/pid
ipython/profile_default/security
bin/vim
bin/lein2
.emacs.d
bin/doc2pdf
bin/screenshotbot
ipython/bitey/
.weechat/logs/*
.weechat/irc.conf
.weechat/logs/
irc.conf
ipython/cython
